/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gaya untuk body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h2 {
    color: #ff8533;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}


header h1 {
    font-size: 2em;
}

header h1 a{
    text-decoration: none;
    color: inherit;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.3s;
}

header nav ul li a:hover {
    text-decoration: none;
    color: #ff8533;
}

/* Judul Berita */
h2 {
    font-size: 1.8em;
    margin: 20px 0;
    color: #444;
    text-align: center;
}

/* Konten Berita */
.img-news {
   display: grid;
   place-items: center;
}
.content-news {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.content-news p {
    margin-left: 35px;
    margin-bottom: 15px;
    font-size: 1.2em;
    line-height: 1.8;
    text-align: justify;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    text-align: center;
  }
  
.footer-header {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
  }
  
.footer-header p {
    font-size: 15px;
    margin: 5px ;
  }
  
.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
  }
  
.form-box input[type="text"],
.form-box input[type="date"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    position: relative; 
    left: 20px;
    top: 5px
}
  
.form-box input[type="text"]::placeholder {
    color: #999;
}


.form-box button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 20px;
    top: 5px;
    
}
  
.form-box button:hover {
    background-color: #ff8533;
}

.social-media {
    float: right;
    margin-left: 500px;
    padding-top: 10px;
}

.socmed-icons {
    margin-top: 10px;
    gap: 30px;
    display: flex;
    justify-content: center;
    transition: 0.3ms;
}

.social-icons i:hover {
    color: #ff8533;
}
